---
import Navigation from '../components/Navigation.astro';
const websiteName = 'MTG';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{websiteName}</title>

		<style>
			body {
				color: black;
				background-color: rgb(199, 199, 253);
			}
		</style>

	</head>
	<body>

		<Navigation />

		<h1>{websiteName}</h1>

	</body>
</html>
