---
import Navigation from '../components/Navigation.astro';
const websiteName = 'MTG';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{websiteName}</title>

		<style>
			body {
				color: black;
				background-color: rgb(199, 199, 253);
			}
		</style>

	</head>
	<body>

		<Navigation />

		<h1>{websiteName}</h1>

		<h2>Where can you play it?</h2>

		<p>
			There are many places you can play competitve Magic: The Gathering. The most popular place is at your local game store.
			There are many game stores that host weekly tournaments for the different Constructed formats. There are also many larger
			tournaments that are hosted by Wizards of the Coast, the company that makes Magic: The Gathering. These tournaments are
			usually hosted at large convention centers and have thousands of players. There are also many tournaments that are hosted
			by other companies, like Star City Games, that are usually hosted at convention centers and have hundreds of players.
		</p>

		<p>
			There are also many online platforms where you can play competitve Magic: The Gathering. The most popular online platform
			is Magic: The Gathering Arena, which is a free-to-play game that is available on PC and Mac. There is also Magic: The
			Gathering Online, which is a paid platform that is available on PC and Mac. There are also many other platforms that are
			available, but they are not as popular as the two mentioned above.
		</p>
		
		<h2>Why should you play Competitive Magic</h2>

		<p>
			Competitive Magic is a great way to meet new people and make new friends. It is also a great way to improve your
			skills and learn new strategies. It is also a great way to earn money and prizes. It is also a great way to have fun
			and enjoy yourself.
		</p>

		<p>
			Another benefit of playing competitive Magic is learning about the stack and how that can be used to learn some basic fundamentals of computer science.
			For example, the stack is a data structure that is used to store information in a last-in-first-out manner. This means that the last item that is
			added to the stack is the first item that is removed from the stack. This is similar to how a stack of plates works. If you have a stack of plates, you
			will put the last plate on top of the stack and the first plate on the bottom of the stack. If you want to remove a plate from the stack, you will remove
			the top plate from the stack and the bottom plate from the stack.
		</p>

		<p>
			Having mastery of the stack is important in Magic if you want to gain an advantage of you opponent. For example, if you have a card that says "Protect
			target creature", you can use the stack to your advantage. If you have a creature that you want to protect, you can cast the spell that says "Protect
			target creature" and then you wait for your oppoent to cast a spell that says "Destroy target creature". This will cause the first spell to resolve and protect 
			the creature. Then, the second spell will resolve and fail to destroy the creature. This is because the second spell was cast after the first spell, so it will 
			resolve first.
		</p>

	</body>
</html>
