---
import Header from '../components/Header.astro';
const websiteName = 'Competitve Magic: The Gathering';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{websiteName}</title>

		<style>
			body {
				color: black;
				background-color: rgb(199, 199, 253);
			}
		</style>

	</head>
	<body>

		<Header/>

		<h1>{websiteName}</h1>

		<h2>What is it?</h2>

		<p>There are many ways to play Magic: The Gathering. There are Casual formats like the most popular Commander, there 
		are Limited formats like Draft and Sealed, and there are Constructed formats like Standard, Pioneer, and Modern. This 
		website will be focusing on the Constructed formats, and specifically the competitive side of them that is played with 
		60-card decks.</p>

		<p>Competitive Magic: The Gathering is played with 60-card decks that are built from a pool of cards that are legal in
		the format that you are playing. There are many different Constructed formats that are played competitively, and each
		format has its own pool of cards that are legal in that format. The most popular Constructed formats are Standard,
		Pioneer, and Modern. Standard is the most popular Constructed format, and it is played with the most recent sets that
		have been released. Pioneer is the second most popular Constructed format, and it is played with cards that have been
		released in the past 8 years. Modern is the third most popular Constructed format, and it is played with cards that
		have been released in the past 17 years.</p>

		<h2>Where can you play it?</h2>

		<p>There are many places you can play competitve Magic: The Gathering. The most popular place is at your local game store.
		There are many game stores that host weekly tournaments for the different Constructed formats. There are also many larger
		tournaments that are hosted by Wizards of the Coast, the company that makes Magic: The Gathering. These tournaments are
		usually hosted at large convention centers and have thousands of players. There are also many tournaments that are hosted
		by other companies, like Star City Games, that are usually hosted at convention centers and have hundreds of players.</p>

		There are also many online platforms where you can play competitve Magic: The Gathering. The most popular online platform
		is Magic: The Gathering Arena, which is a free-to-play game that is available on PC and Mac. There is also Magic: The
		Gathering Online, which is a paid platform that is available on PC and Mac. There are also many other platforms that are
		available, but they are not as popular as the two mentioned above.</p>

	</body>
</html>
