---
import Header from '../components/Header.astro';
const websiteName = 'Competitve Magic: The Gathering';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{websiteName}</title>

		<style>
			body {
				color: black;
				background-color: rgb(199, 199, 253);
			}
		</style>

	</head>
	<body>

		<Header/>

		<h1>{websiteName}</h1>

		<h2>What is it?</h2>

		<p>
			There are many ways to play Magic: The Gathering. There are Casual formats like the most popular Commander, there 
			are Limited formats like Draft and Sealed, and there are Constructed formats like Standard, Pioneer, and Modern. This 
			website will be focusing on the Constructed formats, and specifically the competitive side of them that is played with 
			60-card decks
		</p>

		<p>
			Competitive Magic: The Gathering is played with 60-card decks that are built from a pool of cards that are legal in
			the format that you are playing. There are many different Constructed formats that are played competitively, and each
			format has its own pool of cards that are legal in that format. The most popular Constructed formats are Standard,
			Pioneer, and Modern. Standard is the most popular Constructed format, and it is played with the most recent sets that
			have been released. Pioneer is the second most popular Constructed format, and it is played with cards that have been
			released in the past 8 years. Modern is the third most popular Constructed format, and it is played with cards that
			have been released in the past 17 years.
		</p>

		<p>
			Draft is also another way that you can play competitively. Draft is a Limited format, and it is played with 40-card
			decks. Draft is played with 3 packs of cards that are opened one at a time. Each player opens a pack, picks a card
			from that pack, and then passes the rest of the pack to the next player. This continues until all of the cards in
			the pack have been picked. Then the next pack is opened, and the process repeats until all of the cards in the
			third pack have been picked. After all of the cards have been picked, each player builds a 40-card deck from the
			cards that they picked. Draft is played with the most recent sets that have been released.
		</p>

	</body>
</html>
